
    
    <div class="addFolder">
        
        <form action="/add-folder" method="post" class="addFolderForm">
            <label for="folderName">Name:  </label>
            <input id="folderName" name="folderName" placeholder="Folder Name" type="text" required/>
            <button type="submit">Add Folder</button>
        </form>
        <%- include("./errors.ejs") %>
    </div>
