<ul>
    <li>Name: <%=fileDetail.file_name %></li>
    <li>Path: <%=fileDetail.file_path %></li>
    <li>Uploaded: <%=fileDetail.uploadedAt %></li>
    <li>Size: <%=((fileDetail.size_bytes)/1000000).toFixed(2) %> MB</li>
</ul>