
    <h2>Upload a file</h2>
    <%- include("./errors.ejs") %>
    <form action="/file-upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit">Upload</button>
    </form>
