<div class="uploadFile">
  <form action="/file-upload" method="post" enctype="multipart/form-data" class="fileUploadForm">
    <input type="file" name="file" />
    <button type="submit">+</button>
  </form>
  <%- include("./errors.ejs") %>
</div>

