
<div class="header">
    <div class="nameAndLogo">
        <h1>File Drive</h1>
        <a href="/"><img class="headerImage" src="/images/icons8-file-100.png" alt="white-file-with-paperclip"></a>
        
    </div>
    <% if (locals.user) {%>
        <a href="/log-out">LOG OUT</a>
    <%}%>
</div>