<div class="login">
  <h2>Log in</h2>
  <form action="/log-in" method="POST" class="logInPost">
    <div class="username">
      <label for="username">Email</label>
      <input id="username" name="username" placeholder="example@domain.com" type="text" required/>
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required/>
    </div>
    <%- include("./errors.ejs") %>
    <button>Log In</button>
  </form>
  <a href="/sign-up">Or sign up here!</a>
 
</div>

    