<h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Email</label>
      <input id="username" name="username" placeholder="Email" type="text" required/>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required/>
      <button>Log In</button>
    </form>
    <a href="/sign-up">Or Sign Up!</a>