
    <div class="renameFolder">
      
      <form action="" method="post">
          <label for="folderName">Name: </label>
          <input id="folderName" name="folderName" value="<%= folderRename.folder_name %>" type="text" required/>
          <button type="submit">Rename</button>
      </form>
      <%- include("./errors.ejs") %>
    </div>



