
    <div class="renameFile">
      
      <form action="" method="post">
          <label for="fileName">Name</label>
          <input id="fileName" name="fileName" value="<%= fileRename.file_name %>" type="text" required/>
          <button type="submit">Rename</button>
      </form>
      <div class="error"><%= error.msg %></div>
    </div>

