<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <% if (locals.user) {%>
    <h1>Add a folder</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/add-folder" method="post">
        <label for="folderName">Name</label>
        <input id="folderName" name="folderName" placeholder="Folder Name" type="text" required/>
        <button type="submit">Add Folder</button>
    </form>

  <% } else { %>
    <%- include("partials/log-in.ejs") %>
  <%}%>
</body>
</html>
