<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (locals.user) {%>
    <h1><%= folder.folder_name %></h1>
    <a href="/">Homepage</a>
    <%- include("partials/files.ejs") %>
    <%- include("partials/file-upload.ejs") %>
    


  <% } else { %>
    <%- include("partials/log-in.ejs") %>
  <%}%>
</body>
</html>
