<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <% if (locals.user) {%>
    <h1>Rename Folder</h1>
    <%- include("partials/errors.ejs") %>
    <form action="" method="post">
        <label for="folderName">Name</label>
        <input id="folderName" name="folderName" value="<%= folder.folder_name %>" type="text" required/>
        <button type="submit">Rename</button>
    </form>

  <% } else { %>
    <%- include("partials/log-in.ejs") %>
  <%}%>
</body>
</html>

