
.folders,.files{
  padding:10px 70px 25px;
  display: flex;
  flex-wrap: wrap;
  gap:25px;
}
.folderContainer,.fileContainer{
  max-width: 500px;
  min-width: 200px;
  background-color: var(--palatinate);
  border-radius: 10px;
  box-shadow: var(--dark-green) 0px 0px 10px 0px; 
  padding: 15px;
}
.folderInfo,.fileInfo{
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 12px;
  align-items: center;
  
}
.folderInfo>a{
  font-size: 22px;
  color:var(--magnolia);
  text-decoration: none;
}

.folderButtons>form>button>img,.fileButtons>form>button>img{
  width:15px;
}
.folderButtons,.fileButtons{
  display: flex;
  gap:5px;
  justify-content: flex-end;
}
.addFolderLink{
  color: var(--magnolia);
  text-decoration: none;
  padding: 0px 70px;
  font-size: 20px;
  display: flex;
  gap:10px
}
.addFolder{
  padding:30px 70px;
}
.plusImage{
  width: 25px;
  
}
.addFolderForm,.fileUploadForm{
  font-size: 15px;
}
.renameFolder{
  font-size: 15px;
}
